.about__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
}

.about__img {
  width: 370px;
  height: 370px;
  /* border-radius: 1.5rem; */
  justify-self: center;
}

.about__description {
  /* padding: 0 4rem 0 0; */
  line-height: 22px;
  margin-bottom: var(--mb-2-5);
  margin-right: 10px;
}

/** breakpoints **/
/* desctop */
@media screen and (max-width: 992px) {
  .about__container {
    grid-template-columns: 1fr;
    row-gap: 2.5rem;
  }

  .about__img {
    width: 220px;
    height: 220px;
  }

  .about__data {
    text-align: center;
  }

  .about__description {
    padding: 0.5rem;
    margin-bottom: 2rem;
  }
}

/* tablet */
@media screen and (max-width: 576px) {
  .about__description {
    padding: 0;
  }
}

/* phone */

@media screen and (max-width: 350px) {
}
